extends layout

block social
  p.hidden you have found the secret message, hidden, not empty space
block content
  div.smallwrap
    // social contact for our specific style on contact page
    div.socialcontact
      // div social styled for basic images, size float
      div.social
        include social.jade
    //-p
    //-  <?php echo utf8_decode($contact_description) ?>