//- social bar
ul
  li.twitter
    a(href="//twitter.com/mattixpet") @mattixpet
  li.facebook
    a(href="//www.facebook.com/matthias.petursson") matthias.petursson
  li.linkedin
    a(href="//is.linkedin.com/in/matthiaspetursson") matthiaspetursson
  li.instagram
    a(href="//instagram.com/mattixpet/") mattixpet
  li.email
    a#contactEmail(href="") matthias
  li.googleplus
    a(href="//plus.google.com/117499610011951906438/") 117499610011951906438
  //-li.snapchat
  //-  a(href="snapchat:mattixpet") mattixpet
  li.github
    a(href="//github.com/mattixpet") mattixpet
  li.skype
    a(href="skype:matthias.petursson?userinfo") matthias.petursson