// double sized icons!
div.socialcontact > div.social
  width social-width + social-width
  height social-height + social-height
  float none
  li a
    width icon-width + icon-width
    height icon-height + icon-height
  margin inherit // this is also used as a reset file, so inherit margin